<% include ../partials/header.ejs %> 
     
     <div class="container">
         <div class="row">
             <div class="col-md-offsetr-5 col-md-10"></div>
                 <h1><%= title %></h1>
                 <br>
                 <table class="table table-bordered striped hover">
                     <tr>
                         <th class="text-center">Name</th>
                         <th class="text-center">Description</th>
                     </tr>

                     <% for (let count = 0; count < contactList.length; count++) { %>
                         <tr>
                             <td class="text-center"><%= contactList[count].name %></td>
                             <td class="text-center"><%= contactList[count].desc %></td>
                         </tr>
                     <% } %>
                 </table>

         </div>
     </div>
  
<% include ../partials/footer.ejs %> 